{% extends 'main/base.html' %}
{% load static %}

{% block title %}Home - ECO Refashion{% endblock %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'main/css/index.css' %}">
{% endblock %}

{% block content %}

<section class="top-section">
    <div class="container">
        <h1 class="top-title">Elevate Your Style</h1>
        <p class="top-subtitle">Timeless Fashion, Sustainable Choices</p>
        <a href="{% url 'main:product' %}" class="btn-primary">Shop Now</a>
    </div>
</section>

{% endblock %}
